.albums-dashboard {
  padding: 2vw;

  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
  }

  ::ng-deep {
    .mat-mdc-card-title {
      cursor: pointer;
    }
  }

}
